<p class="clearfix my-2">
  <span class="float-left h3 my-1">Track</span>
  <button type="button"
  class="btn  btn-outline-primary float-right"
  (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseTrack">Add Track</button>
</p>
<div id="collapseTrack" class="mb-2" [ngbCollapse]="!isCollapsed">
  <div class="card">
    <div class="card-block">
      <app-track-edit-form (onAdded)="onAddedTrack($event)"></app-track-edit-form>
    </div>
  </div>
</div>
<app-tracks-list [tracks]="tracks"></app-tracks-list>
