<form [formGroup]="form">
  <div class="form-group row">
    <label class="col-2 col-form-label" for="name">name</label>
    <div class="col-10">
      <input id="name" class="form-control" type="text" formControlName="name">
    </div>
  </div>

  <div>
    <div class="form-inline py-2">
      <input class="form-control form-control-sm mr-2" type="text" placeholder="Search album...">
      <button type="button" class="btn btn-sm btn-primary">Add</button>
    </div>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>_id</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of editArtist?.albums">
          <td>{{ album._id }}</td>
          <td>{{ album.name }}</td>
          <td>
            <button type="button"
              class="btn btn-sm btn-danger"
              (click)="onDeleteAlbum(album)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!editArtist" class="clearfix">
    <button type="submit"
      class="btn btn-primary float-right ml-2"
      [disabled]="!form.valid"
      (click)="onSubmit()">Submit</button>
  </div>

  <div *ngIf="editArtist" clear="clearfix">
    <button type="button"
            class="btn btn-secondary float-right ml-2"
            (click)="onCancel()">Cancel</button>
    <button type="submit"
      class="btn btn-primary float-right ml-2"
      [disabled]="!form.valid"
      (click)="onSave()">Save</button>
  </div>

</form>
