<p class="clearfix my-2">
  <span class="float-left h3 my-1">Album</span>
  <button type="button"
          class="btn btn-outline-primary float-right"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">Add Album</button>
</p>
<div id="collapseExample" class="mb-2" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-block">
      <app-album-edit-form></app-album-edit-form>
    </div>
  </div>
</div>
<app-albums-list></app-albums-list>
