<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th width="5%">No.</th>
      <th width="15%">_id</th>
      <th width="20%">name</th>
      <th width="50%%">lyric</th>
      <th width="5%"></th>
      <th width="5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks">
      <td>{{ track.trackNumber }}</td>
      <td>{{ track._id }}</td>
      <td>
        <a href="{{track.link}}">{{ track.name }}</a>
      </td>
      <td>
        <div class="ellipsis">
          <a href="javascript:void(0)" tabIndex="-1" (click)="open(track)">{{ track.lyric }}</a>
        </div>
      </td>
      <td>
        <button type="button"
                class="btn btn-sm btn-secondary"
                (click)="onEditTrack(track)">
              Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-danger"
                (click)="onDelete(track)">
              Delete</button>
      </td>
    </tr>
  </tbody>
</table>
