<form [formGroup]="form">
  <div class="form-group row">
    <label class="col-2 col-form-label" for="name">name</label>
    <div class="col-10 mb-2">
      <input id="name" class="form-control" type="text" formControlName="name">
    </div>
    <label class="col-2 col-form-label" for="name">artist</label>
    <div class="col-10 mb-2">
      <input id="artist" class="form-control" type="text" formControlName="artist">
    </div>
    <!-- <label class="col-2 col-form-label" for="name">tracks</label>
    <div class="col-10">
      <input id="tracks" class="form-control" type="text" formControlName="tracks">
    </div> -->
   <!--  <label class="col-2 col-form-label" for="name">images</label>
    <div class="col-10">
      <input id="images" class="form-control" type="text" formControlName="images">
    </div> -->
  </div>

  <div *ngIf="!editAlbum" class="clearfix">
    <button type="submit"
      class="btn btn-primary float-right ml-2"
      [disabled]="!form.valid"
      (click)="onSubmit()">Submit</button>
  </div>

  <div *ngIf="editAlbum" clear="clearfix">
    <button type="button"
            class="btn btn-secondary float-right ml-2"
            (click)="onCancel()">Cancel</button>
    <button type="submit"
      class="btn btn-primary float-right ml-2"
      [disabled]="!form.valid"
      (click)="onSave()">Save</button>
  </div>

</form>
